.MMM-GoogleTasks .container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.MMM-GoogleTasks .item {
    text-align: left;
    padding-bottom: 0.25em;
}

/* .MMM-GoogleTasks .item.title {
  } */

.MMM-GoogleTasks .item.date {
    padding-left: 1.7em;
    text-align: right;
}

.MMM-GoogleTasks .item.notes {
    padding-left: 0.95em;
    font-size: 0.8em;
    padding-bottom: 0;
}

.MMM-GoogleTasks .item.child {
    text-align: left;
    padding-left: 1.5em;
}

.MMM-GoogleTasks .fa {
    vertical-align: middle;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
    font-size: 0.6em;
}
